<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property name="name" value="spring-boot-logging"/>
    <contextName>${name}</contextName>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/infisa.${name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${name}.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- project default level -->
    <logger name="cn.lee.jason" level="info"/>

    <!-- 定义根日志级别 -->
    <root level="info">
        <appender-ref ref="rollingFile"/>
    </root>

</configuration>
